<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>sign up</title>
<link th:href="@{/css/signup.css}" href="/public/css/signup.css"
	rel="stylesheet"></link>
</head>
<body id="mainBody">
	<form th:action="@{submitSignUp}" th:object="${user}" method="post">
		<span th:text="#{username}"></span> 
		<input type="text" th:field="*{username}" /> 
		<span th:errors="*{username}"></span><br/>
		<span th:text="#{email}"></span> 
		<input type="text" th:field="*{email}" /> 
		<span th:errors="*{email}"></span><br/> 
		<span th:text="#{password}"></span> 
		<input type="password" th:field="*{password}" /> 
		<span th:errors="*{password}"></span><br/>
		<input type="submit" th:value="#{submit}" />
	</form>
	<a th:href="@{/signUp(locale=zh_CN)}">中文</a>
	<a th:href="@{/signUp(locale=en_US)}">English</a>
</body>
</html>